/* 
DFD9E2
C3ACCE
89909F

B298DC
A663CC
B8D0EB
*/
html,body{
  margin: 0;
  padding: 0;
  color: rgb(158, 77, 235);
}

img{
  width: 50vw;
  height: 50vh;
}

.nav-bar {
  left: 20px;
  top: 20px;
}

.nav-bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 25px;
  border-radius: 30px;
}

.nav-bar a.active {
  background-color: #4a0160;
  color: white;
}

.nav-bar a:hover {
  background-color: #4a0160;
  font-size: 25px;  
}

.starry_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('assets/web-portfolio-bg.png');
  background-size: cover;
  z-index: -1;
}

/* .slides {
width: 90vw;
position: relative;
overflow: hidden;
box-sizing: border-box;
} */

.star {
position: absolute;
width: 2px;
height: 2px;
background-color: #fefefe;
animation: twinkle linear infinite;
}

@keyframes twinkle {
0% { opacity: 0; transform: translateY(0); }
50% { opacity: 1; transform: translateY(0); }
100% { opacity: 0; transform: translateY(0); }
}

.introduction{
display: flex;
align-items: center;
justify-content: center;
color: #fff;
width: 90vw;
height: 61vh;
}

.introduction h1 {
font-size: 5vw;
position: absolute;
top: 15%;
}

.introduction p {
font-size: 2.5vw;
position: absolute;
bottom: 30%;
margin-left: 10vw;
}

.category-name {
position: absolute;
font-size: 3vw;
font-weight: bold;
/* color: #2b0038; */
}

.category-name:hover{ 
  font-size: 40px;
}

/* .skill-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  height: 98vh;
}

.skill1 {
  position: relative;
  border-radius: 10%;
  border-color: blueviolet;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(158, 77, 235);
  background-color: rgb(87, 10, 159); 
  top: 10%;
  margin-left: 100%;
}

.skill1:hover{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  font-size: 4vw;
}

.skill2 {
  position: relative;
  border-radius: 10%;
  border-color: blueviolet;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(158, 77, 235);
  background-color: rgb(87, 10, 159); 
  top:70%;
  margin-right: -100%;
}

.skill2:hover{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  font-size: 4vw;
}

.skill3 {
  position: relative;
  border-radius: 10%;
  border-color: blueviolet;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 3vw;
  color: rgb(158, 77, 235);
  background-color: rgb(87, 10, 159); 
  top:40%;
  margin-right: 0px;
}

.skill3:hover{
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  font-size: 4vw;
}

.skill4 {
  position: relative;
  border-radius: 10%;
  border-color: blueviolet;
  padding-top: 20px;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 3vw;
  color: rgb(158, 77, 235);

  
  top:40%;
  margin-left: 0px;
}

.skill4
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3vw;
  padding-left: 3vw;
  font-size: 4vw;
} */
.skill1, .skill2, .skill3, .skill4{
  background-color: rgb(87, 10, 159); 
    border-image: linear-gradient(#9d51ef, #6f28a5,#4c0b7d) 30;
    color: rgb(158, 77, 235);
    border-width: 3px;
    border-style: solid;
}

.skill-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
}

.skill1, .skill2, .skill3, .skill4 {
  border-radius: 10%;
  padding: 2vh 2vw;
  font-size: 3vw;
}

.skill1, .skill2 {
  margin-right: auto;
}

.skill3, .skill4 {
  margin-left: auto;
}
.skill1:hover{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 4vw;
}
.skill2:hover{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 4vw;
}
.skill3:hover{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 4vw;
}
.skill4:hover{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  font-size: 4vw;
}

.timeline-table{
  width: 85vw;
  height: 83vh;
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 7%;
  border-color: blueviolet;
  color: rgb(178, 115, 238);
  background-color: #570976;	
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  /* margin: 0; */
  /* background-color: #570976;	 */
  /* margin-top: 15vh; */
}

.timeline{
  height: 500px;
  width: 80vw;
  font-size: 20px;
  column-width: 500px;
  align-items: center;
}

th, td{
  width: 40vw;
}

.cloud {
  width: 80vw;
  height: 70vh;
  /* bottom: 70vh; */
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 10%;
  border-color: blueviolet;
  color: rgb(158, 77, 235);
  background-color: #570976;	
  /* display: flex; */
  /* justify-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
}


.about-paragraph{
  font-size: 21px;
  margin-left: 7vw;
  margin-right: 7vw;
  /* margin-top: 5px; */
  /* margin-bottom: 15px; */
  top: 50px;
  /* color: rgb(158, 77, 235); */
}

.about-header{
  font-size: 23px;
  /* top: 30px; */
  margin-left: 30vw;
  margin-right: 30vw;
  /* margin-top: 7px; */
  color: rgb(175, 99, 246);
}

.resume{
  float: right;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 20px;
  border-radius: 30px;
	background: #570976;	
  /* color: rgb(158, 77, 235); */
  bottom: 0;
  margin-right: 20vh;
}

.resume a:hover {
  /* color: rgb(158, 77, 235); */
  font-size: 25px;  
}

.socials{
  width: 70vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  /* position: relative;  */
  font-size: 30px;
  background: #570976;	
  border-radius: 10vw;
}

.projectContainer{
  top: 50px;
}

/* .cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #2e014f;
	z-index: -1
} */

/* .cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  background-color: aqua;
}
 */

/* .cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
  background-color: antiquewhite;
} */



